
body {
  background-color: #f0f0f0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nav-bar h4 {
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
  color: #000000;
}

.botao-colorido {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  transition: background-color 0.3s;
}

.botao-colorido:hover {
  background-color: rgb(78, 79, 81);
}
