<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="darkModeStyle.css">
    <link rel="stylesheet" href="darkModeStyle.js">
</head>

</head>
<body>
    <script>
        // Função para ativar o dark mode
        function enableDarkMode() {
            document.body.classList.add("dark-mode");
            localStorage.setItem("darkMode", "enabled");
        }
    
        // Função para desativar o dark mode
        function disableDarkMode() {
            document.body.classList.remove("dark-mode");
            localStorage.setItem("darkMode", "disabled");
        }
    
        // Função para alternar o dark mode
        function toggleDarkMode() {
            if (document.body.classList.contains("dark-mode")) {
                disableDarkMode();
            } else {
                enableDarkMode();
            }
        }
    
        // Verificar a preferência do usuário no carregamento da página
        if (localStorage.getItem("darkMode") === "enabled") {
            enableDarkMode();
        }
    </script>

<!-- Botão em forma de lua (ícone) -->
<button id="toggleButton" onclick="toggleDarkMode()">
    🌙
</button>
      
    <div class="container">
        <h1>Cadastro Categoria</h1>

            
        <form action="/cadastroCategoria" method="post">
            <div class="form-group">
                <label for="nome">Nome da Categoria:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
   </body>
</html>
