<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="darkModeStyle.css">
    <link rel="stylesheet" href="darkModeStyle.js">
</head>

</head>
<body>
    <script>
        // Função para ativar o dark mode
        function enableDarkMode() {
            document.body.classList.add("dark-mode");
            localStorage.setItem("darkMode", "enabled");
        }
    
        // Função para desativar o dark mode
        function disableDarkMode() {
            document.body.classList.remove("dark-mode");
            localStorage.setItem("darkMode", "disabled");
        }
    
        // Função para alternar o dark mode
        function toggleDarkMode() {
            if (document.body.classList.contains("dark-mode")) {
                disableDarkMode();
            } else {
                enableDarkMode();
            }
        }
    
        // Verificar a preferência do usuário no carregamento da página
        if (localStorage.getItem("darkMode") === "enabled") {
            enableDarkMode();
        }
    </script>

<!-- Botão em forma de lua (ícone) -->
<button id="toggleButton" onclick="toggleDarkMode()">
    🌙
</button>
    </head>
    <body>
      
    <div class="container">
        <h1>Cadastro de Usuário</h1>

            
        <form action="/cadastroUsuario" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            
            <div class="form-group">
                <label for "email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            
            <div class="form-group">
                <label for="tipoUsuario">Tipo de Usuário:</label>
                <select class="form-control" id="tipoUsuario" name="tipoUsuario" disabled>
                    <option value="comum">comum</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        document.getElementById('email').addEventListener('input', function () {
            var emailValue = this.value;
            var tipoUsuarioSelect = document.getElementById('tipoUsuario');
            
            if (emailValue.endsWith('@admin12345')) {
                // Se o email termina com @admin12345, defina automaticamente o tipo de usuário como "Admin"
                tipoUsuarioSelect.value = 'admin';
                tipoUsuarioSelect.disabled = false;
            } else {
                // Caso contrário, defina o tipo de usuário como "Usuário" e desabilite o campo
                tipoUsuarioSelect.value = 'comum';
                tipoUsuarioSelect.disabled = true;
            }
        });
       </script>
   </body>
</html>
